body {
    margin: 0;
    font-family: 'Verdana', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 1.5em;
    background-color: whitesmoke;
}

.logo {
    height: 40px;
}

.tran-container {
    display: flex;
    align-items: flex-end;
    padding: 0 0 0.1em 1em;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(85, 85, 85);
}

.container {
    padding: 1.5em 2em 0 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.left-wrapper {
    overflow: hidden;
    display: inline-block;
    padding-right: 3em;
    position: relative;
}

.upload-button {
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid black;
}

.left-wrapper input[type='file'] {
    width: 110px;
    font-size: 75px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.left-wrapper input[type='file']:hover {
    cursor: pointer;
}

.left-wrapper span {
    padding: 0 1em;
}

.right-wrapper {
    padding: 1em 0 2em 0;
}

.formWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
}

.right-wrapper button {
    color: black;
    padding: 10px 15px;
    margin: 0.75em 1em 0 0;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
}

.right-wrapper button:disabled {
    color: lightslategrey;
    border: 1px solid lightslategrey;
    cursor: not-allowed;
}

.right-wrapper label {
    display: block;
}

.right-wrapper input {
    height: 2em;
    width: 80%;
    display: block;
    font-size: 1em;
    border: 1px solid black;
    margin-top: 0.5em;
}

.right-wrapper input:disabled {
    border: 1px solid lightslategrey;
}

.right-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}

.right-grid .right-label {
    padding-right: 0.25em;
}
.right-grid input {
    display: block;
    margin-top: 0.5em;
    height: 1.75em;
    font-size: 1em;
    border: 1px solid black;
}
.right-grid .minmax-input {
    display: inline-block;
    width: 70px;
    margin-right: 10px;
    border: 1px solid rgb(32, 32, 32);
}
.right-grid span {
    display: block;
    padding-bottom: 0.25em;
}

.flag-container {
    padding-bottom: 1em;
}
.rt-th {
    font-weight: bold;
}

.query-results {
    padding: 0 2em 2em 2em;
}
